* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --green: rgb(121, 228, 99);
    --orange: rgb(248, 180, 77);
    --red: rgb(231, 103, 43);
}

body {
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
}

#game-container {
  
    display: flex;
    justify-content: space-around;
}

.player {
    width: 500px
}

.player > h1 {
    text-align: center;
}

.player-tag {
    width: 40%;
    height: 50px;
    margin: auto;
    border-radius: 30%;
}

#tag-one {
    background-color: var(--green);
}

#tag-two {
    background-color: var(--orange);
}

.game-box {
    margin-top: 50px;
    width: 500px;
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:2px;
}

.box {
    background: url("./images/wood.jpg");
    width: 100px;
    height: 100px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 20px;
    font-weight: 700;
}

.additional-info {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.info-player-one {
    padding: 5px;
    background-color: var(--green);
    border: 1px solid #000;
    border-radius: 10%;
}

.info-player-two {
    padding: 5px;
    background-color: var(--orange);
    border: 1px solid #000;
    border-radius: 10%;
}

#winner {
    margin-top: 10px;
    text-align: center;
    background-color: var(--red);
    width: 180px;
    height: 40px;
    margin: auto;
}

#turn {
    background-color: var(--red);
    width: 180px;
    height: 40px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

#new-game {
    display: block;
    width: 180px;
    height: 50px;
    margin: 20px auto;
    background-color: #000;
    border: 3px solid white;
    color: white;
    font-size: 20px;
    cursor: pointer;
}